body{
margin: 0px;
padding: 0px;

}

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 9rem;
        width: 100%;
        padding: 0 6rem;
       
        z-index: 100;

}

.nav_button{
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 23px;
      font-family: 'Poppins', sans-serif;
      color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    margin: 15px;
    padding: 12px;
  
  }
  /* .first_div{
    background-color:rgb(52, 51, 52);
  } */
  .section--1{
   
    width: 100%;
    height: 100%;
    top: 1,49px;
    background-image: url(https://c.pxhere.com/photos/b0/ea/mountain_sky_alps_nature_clouds_austria_landscape_mountains-1046299.jpg!d);
  }
.paragraf-web{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width:600px;
    height: 400px;
    padding: 50px;
    color: white;
}
.Name-web{
    padding: 30px;
    font-size:  55px;
    font-family: 'Poppins', sans-serif;
    color: white;
  
}
.Butoon-web{
    height: 22px;
    width: 200px;
    font-weight: 600;
    line-height: 22px;
    color: rgb(6, 0, 0);
    background-color: rgb(249, 246, 246);
    border: 0px;
    margin: 10px;
    border-radius: 24px;
    transition: all 0.7s;
}
.Butoon-web:hover{
  color: rgb(243, 234, 234);
  background-color: rgb(123, 120, 120);
}
.img{
    position: absolute;
    width: 275.56px;
    height: 335.61px;
    left: 1080.72px;
    top: 236.45px;
    border-radius: 7.67689px;
}

